.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
ViviOSExtensions-Package.xcscheme
.swiftpm/xcode/xcshareddata/xcschemes
